
<!-- <h1>App component</h1>
<p>Angular works</p>    -->

<!-- component to template data binding: interpolation -->
<!-- <p>{{employee.firstName}}</p>  
<p>{{employee.salary}}</p>
<p>{{title}}</p>
<p>{{employee.isIndian}}</p> -->

<!-- <app-menubar></app-menubar>-->
 <!-- <app-login></app-login>  -->
<!-- <app-profile></app-profile> -->
<!-- <app-home></app-home>  -->
<!-- <app-child></app-child> -->

<!-- <app-lifecycle></app-life<cycle> -->
    <app-menubar></app-menubar>
<router-outlet></router-outlet>

